{% extends "frontend/base.html" %}
{% comment %}
tollgate base internet page
Copyright 2008-2010 Michael Farrell <http://micolous.id.au/>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load url from future %}
{% load i18n %}
{% block windowtitle %}{% trans "help" %}{% endblock %}
{% block title %}{% trans "help" %}{% endblock %}
{% block submenu %}
	<ul>
		<li><a href="{% url 'help-new' %}">{% trans "what's new?" %}</a></li>
		<li><a href="{% url 'help-api' %}">{% trans "api documentation" %}</a></li>
		<li><a href="{% url 'source' %}">{% trans "source code" %}</a></li>
	</ul>
{% endblock %}

