{% extends "frontend/base.html" %}{% load future %}
{% comment %}
tollgate base internet page
Copyright 2008-2010 Michael Farrell <http://micolous.id.au/>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% load i18n %}
{% block windowtitle %}{% trans "login other computers" %}{% endblock %}
{% block title %}{% trans "login other computers" %}{% endblock %}
{% block submenu %}
	<!-- $Id: base-internet.html 109 2010-11-10 12:23:25Z michael $ -->
	<ul>
		<li><a href="{{ url "internet-login-here" }}">{% trans "enable internet connectivity for this pc" %}</a></li>
	</ul>
{% endblock %}

