{% extends "frontend/base.html" %}
{% comment %}
tollgate index page
Copyright 2008-2012 Michael Farrell <http://micolous.id.au/>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load url from future %}
{% load i18n %}
{% block windowtitle %}welcome to tollgate{% endblock %}
{% block title %}welcome!{% endblock %}

{% block content %}
<p>Welcome to the tollgate system.</p>

<ul>
	{% if user.is_authenticated %}{% if not attendance.is_revoked %}
		<li>
			<form method="post" action="{% url 'quota-on' %}">{% csrf_token %}
				<input type="submit" value="Connect all my computers to the internet" />
			</form>
		</li>
		<li>
			<form method="post" action="{% url 'internet-login-here' %}">{% csrf_token %}
				<input type="submit" value="Enable internet connectivity for this PC" />
			</form>
		</li>
	{% endif %}{% else %}
		<li><a href="{% url 'login' %}">Login</a></li>
	{% endif %}
</ul>

<h2 id="help">About tollgate</h2>
<ul>
 	<li><a href="{% url 'help-new' %}">What's new?</a></li>
 	<li><a href="{% url 'help-api' %}">API</a> for building your own applications that use tollgate as a backend</li>
</ul>

<h2 id="external">External Links</h2>
<ul>
	<li><a href="http://blackhats.net.au/">blackhats.net.au</a></li>
	<li><a href="http://tollgate.org.au/">tollgate website</a></li>
</ul>

{% if user.is_authenticated %}
	<h2 id="prefs">Preferences</h2>
	<ul>
		<form method="post" action="{% url 'theme-change' %}">{% csrf_token %}
			<li>Change Theme: {{ theme_change_form.theme }} <input type="submit" value="Okay" /></li>
		</form>
	</ul>
{% endif %}
{% endblock %}
