{% extends "frontend/base-internet.html" %}
{% comment %}
tollgate internet login page
Copyright 2008-2012 Michael Farrell <http://micolous.id.au/>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% load humanize %}
{% block windowtitle %}internet hosts {% if offline %}(offline){% endif %}{% endblock %}
{% block title %}internet hosts {% if offline %}(offline){% endif %}{% endblock %}

{% block content %}

{% if settings.ONLY_CONSOLE %}
	<p class="information">Only gaming consoles can be logged in to this instance of portal.</p>
{% else %}
	<p>Please select a host to login to the internet for.  Alternatively, you can <a href="/internet/login/here/">log this computer into the internet</a>.</p>
{% endif %}

<p>Try accessing the internet from the host you want to login before looking here.  This will record it in the portal's MAC address cache, which is shown here.</p>

<p>If the host does not appear here, try 
	{% if offline %}
		<a href="/internet/">searching for online hosts</a>.
	{% else %}
		<a href="/internet/offline/">searching for offline hosts</a>.
	{% endif %}

  Computer names may take up to ten minutes to appear on this page.</p>
  
<p><strong>Warning:</strong> Logging in a system to the internet will permanently record it as belonging to you.  All internet usage will count against your name.</p>

<table class="internet">
	<tr>
		<th>Name</th>
		<th>MAC Address</th>
		<th>IP Address</th>
		<th>First Seen</th>
	</tr>
	{% for host in hosts %}
		<tr class="{% cycle row1,row2 %}">
			<td>{{ host.computer_name }}</td>
			<td><a href="/internet/login/{{ host.mac_address }}/" title="Log in this host"><img src="{{ STATIC_URL }}tollgate/console_icons/{{ host.console_type }}.png" alt="{{ host.console_type }} " title="{{ host.console_type }}" class="cs"/><code>{{ host.mac_address }}</code></a></td>
			<td><code><a href="/internet/login/{{ host.mac_address }}/" title="Log in this host">{{ host.ip_address }}</a></code></td>
			<td><abbr title="{{ host.first_connection|naturalday }} at {{ host.first_connection|time }}">{{ host.first_connection|timesince }} ago</abbr></td>
		</tr>
	{% endfor %}
</table>

{% endblock %}
