{% extends "frontend/base.html" %}
{% comment %}
tollgate ipv4 port forwarding list page
Copyright 2008-2012 Michael Farrell <http://micolous.id.au/>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load url from future %}
{% load i18n %}

{% block windowtitle %}ipv4 port forwarding editing{% endblock %}
{% block title %}ipv4 port forwarding editing{% endblock %}

{% block content %}
	<p><strong>Known issue:</strong> Internal and external port must be the same.  This will be fixed in a future release.</p>
	<form method="post">
		{% csrf_token %}
		<table>{{ form }}</table>
		<p><input type="submit" value="{% if object %}Save Changes{% else %}Add Entry{% endif %}" /> <a href="{% url 'ip4portforward_list' %}">Cancel</a></p>
	</form>
{% endblock %}
