{% extends "frontend/base.html" %}
{% comment %}
tollgate logout page
Copyright 2008-2010 Michael Farrell <http://micolous.id.au/>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% block windowtitle %}logged out{% endblock %}
{% block title %}logged out{% endblock %}

{% block content %}
<!-- $Id: logout.html 112 2010-11-10 12:42:16Z michael $
 -->

<p>You have successfully signed out from tollgate's <em>web interface</em>, <strong>but your internet access is still active (if you haven't switched it off manually)</strong>.</p>

{% endblock %}
