{% extends "frontend/base.html" %}
{% comment %}
tollgate no attendance error page
Copyright 2008-2012 Michael Farrell <http://micolous.id.au/>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load url from future %}
{% load i18n %}
{% block title %}{% trans "not signed in" %}{% endblock %}

{% block submenu %}
{% endblock %}
{% block content %}
<p>{% blocktrans %}Sorry, you haven't been signed in as attending {{ event.name }}.  If you have already paid your entry fee, please see an admin as they did not sign you in correctly.{% endblocktrans %}</p>

<p>{% blocktrans %}Once this is completed, please logout of tollgate and login again, and then you will be able to access the internet.{% endblocktrans %}</p>

<p><a href="{% url 'index' %}">{% trans 'OK' %}</a></p>
{% endblock %}
