{% extends "frontend/base-internet.html" %}
{% comment %}
tollgate user quota information page
Copyright 2008-2012 Michael Farrell <http://micolous.id.au/>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load url from future %}
{% load i18n %}
{% load humanize %}
{% block windowtitle %}quota usage{% endblock %}
{% block title %}quota usage{% endblock %}

{% block content %}
{% if quota_update_fail %}
<p><strong>Warning:</strong> Updated data could not be retrieved.  This information is not current.</p>
{% endif %}

<h2>Quota Details</h2>

<table>
	<tr>
		<td>
			<table>
				<tr>
					<th>Quota Used</th>
					<td class="lcd"><pre>{{ attendance.quota_used_str }}</pre></td>
					<td>Quota usage information may be delayed by 2 minutes.</td>
				</tr>
	
				<tr>
					<th>Quota Remaining</th>
					<td class="lcd">
						{% if attendance.quota_unmetered %}
							<abbr title="unlimited">U/L</abbr>
						{% else %}
							{% if attendance.is_revoked %}
								<pre>REVOKED</pre>
							{% else %}
								<pre>{{ attendance.quota_remaining_str }}</pre>
							{% endif %}
						{% endif %}
					</td>
				</tr>
	
				<tr>
					<th>Total Quota</th>
					<td class="lcd">
						{% if attendance.quota_unmetered %}
							<abbr title="unlimited">U/L</abbr>
						{% else %}
							{% if attendance.is_revoked %}
								<pre>REVOKED</pre>
							{% else %}
								<pre>{{ attendance.quota_amount_str }}</pre>
							{% endif %}
						{% endif %}
					</td>
				</tr>
	
				<tr>
					<th>Total Resets</th>
					<td class="lcd">
						{% if attendance.quota_unmetered or attendance.is_revoked %}
							0
						{% else %}
							{{ attendance.reset_count }}
						{% endif %}&nbsp;&nbsp;
					</td>
					{% if could_get_a_reset_later %}
						<td>You could get one free reset later.  However you have to have used a certain percentage of your quota before this option is available to you.  After you have used the reset, no more free resets will be available.</td>
					{% endif %}
		
					{% if has_free_reset %}
						<td>
								<a href="{% url 'quota-user-reset' %}">You have one free reset available.</a>  No more free resets will be available after you have used it.
						</td>
					{% endif %}
					
					{% if attendance.reset_count >= 1 %}
						{% if settings.RESET_PURCHASE %}
							<td>
								No more free resets are available.  You may purchase additional quota resets from the admins.
							</td>
						{% endif %}
					{% endif %}
				</tr>
			</table>
		</td>
		
		<td>
			<div id="usage_graph" style="width:500px;height:300px;">Loading...</div>
			<p>Newest data is shown on the right.</p>
		</td>
	</tr>
</table>

<script type="text/javascript">
$(function () {
	// use the tollgate api to get usage history
	// consider this an example of how to use the tollgate httpget api in jquery.
	
	// For some stupid (American) reason, Javascript uses offsets as negative.
	// ie: timezones west of Grenwich are positive, timezones east are negative.
	var utc_offset = 0 - ((new Date()).getTimezoneOffset() * 60000);
	
	$.getJSON(
		'/api/attendance/me/usage/?format=json', // we can't send Accept headers
		null, // don't send any data
		function(data, textStatus) {
			// lets handle our data!
			var speed_data = new Array();
			
			// calculate the speed at each data point
			_.each(data, function(v, k) {
				v.when = new Date(new Date(v.when).getTime() + utc_offset);
				if (k == 0) {
					// first element has no speed
					var speed = 0;
				} else {
					var speed = (((v.bytes*1) - (data[k-1].bytes*1)) / ((v.when - data[k-1].when)/1000)) / 1024;
				}
				
				//if (k > 0)
				//	console.log('when = ' + v.when + ', speed = ' + speed + ' delta = ' + (v.when - data[k-1].when));
				speed_data.push([v.when, speed]);
			
			});
			
			// earliest point is 36 hours ago.
			var start = new Date();
			start.setHours(start.getHours()-36);
			$.plot($("#usage_graph"), [{label:'Speed (KiB/s)',data:speed_data},], {
				xaxis: {
					mode: 'time',
					min: start.getTime() + utc_offset,
					max: (new Date()).getTime() + utc_offset
				}
			});
		}
	);
});

</script>

<p><strong>Remember:</strong> Both uploads and downloads use quota.</p>

{% comment %}
<h2>Usage Graph</h2>
<p>This graph is refreshed every 10 minutes, whenever you use this page, and whenever you switch on or off your internet connectivity.  As a result, peak usage is generally averaged out over the period.  Unmetered internet usage doesn't show here.</p>
<div><img src="graph.png" alt="[usage graph]"/></div>
{% endcomment %}

<h2>Internet Switch</h2>
{% if profile.internet_on %}
	<p>Internet access is currently <span class="yes">enabled</span>.</p>
{% else %}
	<p>Internet access is currently <span class="no">disabled</span>.</p>
{% endif %}
<ul>
	{% if not attendance.is_revoked %}
	<li>
		<form method="post" action="{% url 'quota-on' %}">{% csrf_token %}
			<input type="submit" value="Switch on internet connectivity" />  If you have quota available, internet access will be granted to all of your online computers and devices.
		</form>
	</li>
	{% endif %}
	<li>
		<form method="post" action="{% url 'quota-off' %}">{% csrf_token %}
			<input type="submit" value="Switch off internet connectivity" />  All computers listed here will lose internet access <em>immediately</em>, and all unfinished downloads will be terminated.  Internet access will resume when you opt to, or when you try to connect another computer to the internet in your name.
		</form>
	</li>
</ul>

<h2>Your Computers and Devices</h2>
<p>All traffic generated by these systems will be registered in your name.  If a system listed here isn't yours, please see an administrator so it's ownership can be properly assigned.</p>

<table class="internet">
	<tr>
		<th>Name</th>
		<th>MAC Address</th>
		<th>IP Address</th>
		<th>Online</th>
		<th>Disown/Disconnect</th>
	</tr>
	{% for host in my_hosts %}
		<tr class="{% cycle row1,row2 %}">
			<td>{{ host.computer_name }}</td>
			<td><img src="{{ STATIC_URL }}tollgate/console_icons/{{ host.vendor }}.png" alt="{{ host.vendor }} " title="{{ host.vendor }}" class="cs"/><code>{{ host.mac_address }}</code></td>
			<td><code>{{ host.ip_address }}</code></td>
			<td>
				{% if host.online %}
					<span class="yes">Yes</span>
				{% else %}
					<span class="no">No</span>
				{% endif %}
			</td>
			<td><a href="{% url 'internet-disown' host.id %}" title="This will make it so the computer is no longer marked as owned by you, disconnecting it from the internet">Disown Computer</a></td>
		</tr>
	{% endfor %}
</table>

<h2>Your Resets</h2>

{% if attendance.get_resets %}
	<table class="internet">
		<tr>
			<th>When</th>
			<th>Reset performed by</th>
			<th>Excuse</th>
		</tr>
		
		{% for reset in attendance.get_resets %}
			<tr class="{% cycle row1,row2 %}">
				<td>{{ reset.when }}</td>
				<td>{{ reset.performer.user }}</td>
				<td>{{ reset.excuse }}</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<p>No resets have been peformed on your account this event.</p>
{% endif %}

{% endblock %}
