{% extends "frontend/base-usage.html" %}
{% comment %}
tollgate admin usage info page
Copyright 2008-2012 Michael Farrell <http://micolous.id.au/>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% load url from future %}
{% load i18n %}
{% load humanize %}
{% block windowtitle %}internet usage report for {{ a.user_profile.user.username }} at {{ a.event.name }}{% endblock %}
{% block title %}internet usage report for {{ a.user_profile.user.username }} at {{ a.event.name }}{% endblock %}

{% block content %}
{% if quota_update_fail %}
<p><strong>Warning:</strong> The firewall controller system is currently down, so this data hasn't been updated.  Go start it up again so I can get current usage data.</p>
{% endif %}

<h2>Quota Details</h2>
{% if a.quota_unmetered %}
	<p>{{ a.user_profile.user.username }} has unlimited quota.  They've used <strong>{{ a.quota_used_str }}</strong> at this event.</p>
{% else %}
	{% if a.is_revoked %}
		<p>{{ a.user_profile.user.username }} has had their internet connectivity revoked.</p>
		
		<p>They used <strong>{{ a.quota_used_str }}</strong>.</p>
	{% else %}
		<p>{{ a.user_profile.user.username }} gets <strong>{{ a.quota_amount_str }}</strong> of quota, which, so far, has been reset <strong>{{ a.reset_count }}</strong> time{{ a.reset_count|pluralize }}.</p>
	
		<p>They've used <strong>{{ a.quota_used_str }}</strong>, and have <strong>{{ a.quota_remaining_str }}</strong> remaining.</p>
	{% endif %}
{% endif %}

<h2>Internet Switch (currently {% if a.user_profile.internet_on %}<span class="yes">ON</span>{% else %}<span class="no">OFF</span>{% endif %})</h2>
<ul>
	{% if perms.frontend.can_toggle_internet %}
		{% if not a.is_revoked %}
		<li>
			<form method="post" action="{% url 'usage-on' a.id %}">{% csrf_token %}
				<input type="submit" value="Switch on {{ a.user_profile.user.username }}'s internet connectivity" />  If they have quota available, internet access will be granted to all of their computers and devices.
			</form>
		</li>
		{% endif %}
		<li>
			<form method="post" action="{% url 'usage-off' a.id %}">{% csrf_token %}
				<input type="submit" value="Switch off {{ a.user_profile.user.username }}'s internet connectivity" />  All computers listed here will loose internet access <em>immediately</em>, and all unfinished downloads will be terminated.  Internet access will resume when you or they opt to, or when they try to connect another computer to the internet in their name.
			</form>
		</li>
	{% else %}
		<li>You're not authorised to toggle other users' internet access, you need <code>can_toggle_internet</code>.</li>
	{% endif %}
	
	{% if perms.frontend.can_reset_quota %}
		{% if a.quota_unmetered %}
			<li>Cannot reset quota as it is unlimited.</li>
		{% else %}
			<li>
				<form method="post" action="{% url 'usage-reset' a.id %}">{% csrf_token %}
					{{ reset_form.as_p }}
					<p><strong>Warning:</strong> This excuse will be logged and visible to the user as well, even if they're not an administrator.  Be polite. :)</p>
					<p><input type="submit" value="Reset {{ a.user_profile.user.username }}'s quota."/>  They will gain an additional {{ a.quota_amount_str }} of quota, and their internet access will be enabled (if it is disabled).</p>
				</form>
			</li>
		{% endif %}
	{% else %}
		<li>You're not authorised to reset user quotas, you need <code>can_reset_quota</code>.</li>
	{% endif %}
	{% if perms.frontend.can_revoke_access %}
		<li>
			<form method="post" action="{% url 'usage-disable' a.id %}">{% csrf_token %}
				<input type="submit" value="Revoke internet access rights" /> The user will loose their unlimited status (if any), and their available quota multiplier will be set to zero.  Internet access will be terminated, and can only be reinstated by an administrator.
			</form>
		</li>
	{% else %}
		<li>You're not authorised to revoke internet access, you need <code>can_revoke_access</code>.</li>
	{% endif %}
</ul>

<h2>{{ a.user_profile.user.username }}'s Resets ({{ a.get_resets|length }})</h2>
{% if a.get_resets %}
	<table class="internet">
		<tr>
			<th>When</th>
			<th>Reset performed by</th>
			<th>Excuse</th>
		</tr>
		
		{% for reset in a.get_resets %}
			<tr class="{% cycle row1,row2 %}">
				<td>{{ reset.when }}</td>
				<td>{{ reset.performer.user }}</td>
				<td>{{ reset.excuse }}</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<p>No resets have been peformed on this account this event.</p>
{% endif %}

<h2>{{ a.user_profile.user.username }}'s Computers and Devices</h2>
<p>All traffic generated by these systems will be registered in their name.</p>

{% if perms.frontend.can_view_ownership %}
	<table class="internet">
		<tr>
			<th>Name</th>
			<th>MAC Address</th>
			<th>IP Address</th>
			<th>Online</th>
			<th>Disown/Disconnect</th>
		</tr>
		{% for host in a.user_profile.get_hosts %}
			<form method="post" action="{% url 'internet-disown' host.id %}">{% csrf_token %}
				<tr class="{% cycle row1,row2 %}">
					<td>{{ host.computer_name }}</td>
					<td><img src="{{ STATIC_URL }}tollgate/console_icons/{{ host.vendor }}.png" alt="{{ host.vendor }} " title="{{ host.vendor }}"  class="cs"/><code>{{ host.mac_address }}</code></td>
					<td><code>{{ host.ip_address }}</code></td>
					<td>
						{% if host.online %}
							<span class="yes">Yes</span>
						{% else %}
							<span class="no">No</span>
						{% endif %}
					</td>
					<td><input type="submit" value="Disown Computer" title="This will make it so the computer is no longer marked as owned by the user, disconnecting it from the internet"/></td>
				</tr>
			</form>
		{% endfor %}
	</table>
{% else %}
	<p>You don't have permission to view this (requires <code>can_view_ownership</code>).</p>
{% endif %}

<h2>{{ a.user_profile.user.username }}'s changes of network host ownership</h2>
<p>This is when systems came in to or out of this user's ownership.</p>

{% if perms.frontend.can_view_ownership %}
	<table class="internet">
		<tr>
			<th>Previous owner</th>
			<th>New owner</th>
			<th>Change occured</th>
			<th>Name</th>
			<th>MAC Address</th>
			<th>IP Address</th>
			<th>Online</th>
		</tr>
		{% for change in a.user_profile.get_changes %}
			<tr class="{% cycle row1,row2 %}">
				<td>
					{% if change.old_owner %}
						{{ change.old_owner.user.username }}
					{% else %}
						<em>(nobody)</em>
					{% endif %}
				</td>
				<td>
					{% if change.new_owner %}
						{{ change.new_owner.user.username }}
					{% else %}
						<em>(nobody)</em>
					{% endif %}
				</td>	
				<td>{{ change.when }}</td>
				<td>{{ change.network_host.computer_name }}</td>
				<td><img src="{{ STATIC_URL }}tollgate/console_icons/{{ change.network_host.vendor }}.png" alt="{{ change.network_host.vendor }} " title="{{ change.network_host.vendor }}" class="cs"/><code>{{ change.network_host.mac_address }}</code></td>
				<td><code>{{ change.network_host.ip_address }}</code></td>
				<td>
					{% if change.network_host.online %}
						<span class="yes">Yes</span>
					{% else %}
						<span class="no">No</span>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<p>You don't have permission to view this (requires <code>can_view_ownership</code>).</p>
{% endif %}


{% endblock %}
