.hg
.svn
*.svn-base
*.sqlite3
*.pyc
*.ini
*.swp
*.orig
.project
.pydevproject
*.db
*.db3
.settings
*~
out.err
.DS_Store
__MACOSX
Thumbs.db
desktop.ini
settings_local.py
*.pem
*.crt
*.cache
*.userprefs
*.sln
*.mdproj
oui.txt
oui.txt.etag
protocol-numbers.xml
protocol-numbers.xml.etag
tollgate/settings/local.py
/build
/dist
*.egg-info
