include setup.py README.md LICENSE Makefile tollgate/captive_landing/README.md tollgate/tollgate.wsgi tollgate/scripts/management/commands/scraper.dat
recursive-include doc *
recursive-include platform *
recursive-include www *
recursive-include tollgate/frontend/static *
recursive-include tollgate/frontend/templates *

recursive-include tollgate/locale *

global-exclude *~
