{% extends "frontend/base.html" %}
{% comment %}
tollgate logout page
Copyright 2008-2010 Michael Farrell <http://micolous.id.au/>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}


{% block windowtitle %}logged out{% endblock %}
{% block title %}logged out{% endblock %}

{% block content %}
<!-- $Id: logout.html 112 2010-11-10 12:42:16Z michael $
 -->

<p>You have successfully signed out from tollgate's <em>web interface</em>, but not internet access.</p>

<p style="font-size: 3em"><strong>Warning:</strong> This <em>has not</em> terminated internet access to this computer in your name.  You need to login again and press "disown" in "my devices and quota" to do that, or do that from another computer.  Internet access will still count in your name until you do so.</p>

<p style="font-size: .7em">Apparently some people didn't get the hint with the previous version of the text, even though I believed it to be obvious, because I feel there are plenty of use cases to justify logging out of the web interface not actually cutting off your internet access.  Like when you let a friend sign their console in with your computer, and they obviously don't want to you to stay logged in as them or vice versa.  So now it's in big simple words spelt out.</p>

{% endblock %}
