[Unit]
Description=Tollgate backend service
After=network.target dbus.service

[Service]
Type=forking
PIDFile=/var/run/tollgate-backend.pid
EnvironmentFile=/etc/sysconfig/tollgate
ExecStart=$DAEMON $OPTIONS
ExecReload=/bin/kill -HUP $PIDFILE

[Install]
WantedBy=tollgate.target

