[Unit]
Description=Tollgate captivity service
After=network.target dbus.service

[Service]
PIDFile=/var/run/tollgate-captivity.pid
EnvironmentFile=/etc/sysconfig/tollgate
ExecStart=/usr/sbin/tollgate_captivity -l $TOLLGATEURI

[Install]
WantedBy=tollgate.target

