{% extends "frontend/base.html" %}
{% comment %}
tollgate captivity landing page
Copyright 2008-2010 Michael Farrell <http://micolous.id.au/>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}
{% block windowtitle %}tollgate captive landing{% endblock %}
{% block title %}welcome to the internet{% endblock %}

{% block content %}
<!-- $Id: captive_landing.html 112 2010-11-10 12:42:16Z michael $
 -->

{% if user.is_authenticated %}
	<!-- user is logged in -->
	<p>Your connection to this internet has been denied.  This is just a guess, but based on what I can see:</p>
	
	{% if reason_quota %}
		<p><strong>Quota:</strong> You have exceeded your <a href="/quota/">quota allocation</a> for this event.  If you haven't already, you can get one free reset of your quota, and gain internet access again.  However no additional resets will be available after this.</p>
	{% endif %}
	
	{% if reason_disabled %}
		<p><strong>Disabled Internet Access:</strong> You have disabled your internet access.  During an emergency situation, administrators may also disable internet access temporarily.  If there isn't an emergency issue, you can <a href="/quota/on/">click here to re-enable it.</a></p>
	{% endif %}
	
	{% if reason_sync %}
		<p><strong>Synchronisation:</strong> You've previously claimed this computer as being yours and signed in for this event, however your computer is presently marked as being offline.  Every 10 minutes, tollgate disables internet access to computers that have been switched off, and enables internet access to those that have been switched on.  You can either wait ten minutes or <a href="/internet/login/here/">turn on internet access for this computer right now</a>.</p>
	{% endif %}
	
	{% if reason_login %}
		<p><strong>Not Owned:</strong> This computer has not been marked as being owned by anyone.  You're currently logged in, so if you wish to claim ownership of this computer and sign it in to the internet in your name, you can <a href="/internet/login/here/">do so now</a>.</p>
	{% endif %}
		
	<h2>Other reasons for connection problems:</h2>
	
	<ul>
		<li>
			<p>You're not signed onto the internet from this computer and IP address.  This may occur if your IP address has changed for some reason.  This can also be caused by synchonisation problems.</p>
			<ul>
				<li><a href="/internet/login/here/">Click here to log this computer into the internet</a> to enable internet connectivity for this computer in your name.</li>
			</ul>
		</li>
		
		<li>
			<p>You have disabled internet access for yourself.</p>
			<ul>
				<li><a href="/quota/on/">Click here to enable internet access for yourself.</a></li>
			</ul>
		</li>
		
		<li>
			<p>You have run out of quota.</p>
			<ul>
				<li><a href="/quota/">Click here to see how much quota you have used.</a></li>
			</ul>
		</li>
		
		<li>
			<p>You haven't logged onto portal and been registered as attending the event.</p>
			<ul>
				<li><a href="/login/">Click here to login to tollgate</a></li>
			</ul>
		</li>
		
		<li>
			<p>The website you are trying to visit is blacklisted.</p>
			<ul>
				<li>Certain websites may have been blacklisted by the network administrator.  If you feel this is in error, please contact an admin.</li>
			</ul>
		</li>
	</ul>

	<p><a href="{{ dest }}">Click here to retry accessing the website.</a></p>
{% else %}
	<!-- user is not logged in -->
	<p>Please login with your username and password to access the internet.</p>
	
	<form method="post" action="/login/">
		{{ f.as_p }}
		<p><input type="submit" value="Login"></p>
	</form>
	
	{% if dest %}
		<p>If you have already logged in on one browser tab/window, then you can <a href="{{ dest }}">click here to retry accessing the website</a> you were trying to get to.  Unfortunately, saved browser sessions totally break in all captive portals, and there isn't a standard way around this yet.</p>
	{% endif %}
{% endif %}
{% endblock %}
