{% extends "frontend/base-pclist.html" %}
{% comment %}
tollgate admin pc list page
Copyright 2008-2010 Michael Farrell <http://micolous.id.au/>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block title %}{% if unowned %}un{% endif %}owned pc list{% endblock %}

{% block content %}
<!-- $Id: pclist.html 112 2010-11-10 12:42:16Z michael $
 -->

<table class="internet">
	<tr>
		{% if not unowned %}
			<th>Owner</th>
		{% endif %}
		<th>Name</th>
		<th>MAC Address</th>
		<th>IP Address</th>
		<th>Online</th>
	</tr>
	{% if unowned %}
		{% for host in hosts %}
				<tr class="{% cycle row1,row2 %}">
				<td>{{ host.computer_name }}</td>
				<td><img src="/media/console_icons/{{ host.get_console_type }}.png" alt="{{ host.get_console_type }} " title="{{ host.get_console_type }}" class="cs"/><code>{{ host.mac_address }}</code></td>
				<td><code>{{ host.ip_address }}</code></td>
				<td>
					{% if host.online %}
						<span class="yes">Yes</span>
					{% else %}
						<span class="no">No</span>
					{% endif %}
				</td>				
			</tr>
		{% endfor %}
	{% else %}
		{% regroup hosts by user_profile as profile_list %}
		{% for p in profile_list %}
			<tr class="uh">
				<td colspan="5">{{ p.grouper.user.username }} ({{ p.grouper.user.first_name }} {{ p.grouper.user.last_name }})</td>
			</tr>		

			{% for host in p.list %}

				<tr class="{% cycle row1,row2 %}">
					<td></td>
					<td>{{ host.computer_name }}</td>
					<td><img src="/media/console_icons/{{ host.get_console_type }}.png" alt="{{ host.get_console_type }} " title="{{ host.get_console_type }}" class="cs"/><code>{{ host.mac_address }}</code></td>
					<td><code>{{ host.ip_address }}</code></td>
					<td>
						{% if host.online %}
							<span class="yes">Yes</span>
						{% else %}
							<span class="no">No</span>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		{% endfor %}
	{% endif %}
	
</table>

{% endblock %}
